﻿@model DotNetCoders.Models.CustomerView

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@{
    Html.RenderPartial("~/Views/Shared/Customer/_CustomerAddOrUpdate.cshtml", Model);
}

@if (ViewBag.Message != null)
{
    <div>@ViewBag.Message</div>
}


