﻿@model DotNetCoders.Models.CustomerView

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px
        }

        .alert-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            outline: none;
        }

            .input-field:focus {
                border: 2px solid dodgerblue;
            }

        /* Set a style for the submit button */
        .btn {
            background-color: dodgerblue;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            .btn:hover {
                opacity: 1;
            }
    </style>
</head>

@using (Html.BeginForm((string)ViewBag.ActionName, "Customer", FormMethod.Post, htmlAttributes: new { @style = "max-width: 700px; margin: auto" }))
{
    <h2>@ViewBag.ButtonName Form</h2>
    <fieldset>
        <legend>Customer @ViewBag.ActionName</legend>
        <div class="input-container">
            <i class="fa fa-code icon"></i>
            @Html.TextBoxFor(c=>c.Code,htmlAttributes:new
            {
                @class = "input-field",
                @type = "text",
                @placeholder = "Code",
            })
        </div>
        <div class=" alert-danger">
            @Html.ValidationMessageFor(c => c.Code)
        </div>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            @Html.TextBoxFor(c=>c.Name,htmlAttributes:new
            {
                @class = "input-field",
                @type = "text",
                @placeholder = "Customer Name",
            })
        </div>
        <div class=" alert-danger">
            @Html.ValidationMessageFor(c => c.Name)
        </div>
        <div class="input-container">
            <i class="fa fa-address-card icon"></i>
            @Html.TextBoxFor(c=>c.Address,htmlAttributes:new
            {
                @class = "input-field",
                @type = "text",
                @placeholder = "Customer Address",
            })
        </div>
        <div class=" alert-danger">
            @Html.ValidationMessageFor(c => c.Address)
        </div>
        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            @Html.TextBoxFor(c=>c.Email,htmlAttributes:new
            {
                @class = "input-field",
                @type = "text",
                @placeholder = "Email",
            })
        </div>
        <div class=" alert-danger">
            @Html.ValidationMessageFor(c => c.Email)
        </div>

        <div class="input-container">
            <i class="fa fa-phone-square icon"></i>
            @Html.TextBoxFor(c=>c.Contact,htmlAttributes:new
            {
                @class = "input-field",
                @type = "number",
                @placeholder = "Contact No",
            })
        </div>
        <div class=" alert-danger">
            @Html.ValidationMessageFor(c => c.Contact)
        </div>

        <div class="input-container">
            <i class="fa fa-money icon"></i>
            @Html.TextBoxFor(c=>c.LoyaltyPoint,htmlAttributes:new
            {
                @class = "input-field",
                @type = "number",
                //@placeholder = "Loyalty Point",
                @Value = (Model.LoyaltyPoint == 0) ? "0" : Model.LoyaltyPoint.ToString()
            })
        </div>
        <div class=" alert-danger">
            @Html.ValidationMessageFor(c => c.LoyaltyPoint)
        </div>
        <button type="submit" class="btn">@ViewBag.ButtonName</button>
    </fieldset>
    @*if (@ViewBag.Message != null)
        {
            <div>@ViewBag.Message</div>
        }*@
}
